body {
    margin: 0;
    background-color:black;
    font-family: bad-dog, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .title{
    text-align: center;
  }
  .title h1{
      font-size: 100px; 
      color: rgba(215, 44, 44);
      padding: 30px;
  }
  #logo {
    width: 900px;
    background-color: white;
    margin: 0px auto;
    border: 5px solid black;
    border-radius: 25px;
  }
  .instructions {
    text-align: center;
  }
  .instructions h2{
      font-size: 75px;
      color:  rgba(215, 44, 44);
      padding: 10px;
  }
  .instructions p{
      font-size: 40px;
      font-weight: 500;
      color: yellow;
      padding: 20px
  }
  .center-button {
    display: flex;
    justify-content: center;
  }
  .start-button {
    background-color: rgba(215, 44, 44);
    border: yellow solid 3px;
    border-radius: 15px;
    color: white;
    padding: 25px 32px;
    text-align: center;
    font-size: 40px;
    font-family: bad-dog, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
  .extra-message {
    text-align: center;
  }
  .extra-message h1{
    font-size: 100px; 
    color:  rgba(215, 44, 44);
    padding: 30px;
  }
  .extra-message h1 span{
    color: purple;
  }
  #extra-pic {
    width: 900px;
    background-color: white;
    margin: 0px auto;
    border: 5px solid black;
    border-radius: 25px;
  }
  .play-again-message h2 {
    font-size: 75px;
    color: yellow;
    padding: 10px;
  }
  .play-again-message span{
    color: purple;
  }
  #top-screen {
    text-align: center;
  }
  #game-background {
    background: url('images/Egg\ Hunt\ Background.svg') no-repeat;
    background-size: cover;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  #game-board {
    background-color:white;
    width: 80%;
    height: 75%;
    padding: 5px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;
    border: 5px solid black;
    border-radius: 84px;
    box-shadow: inset 0px 0px 20px -6px  rgba(215, 44, 44);
    text-align: center;
  }
  
  .card {
    display: inline-block;
    perspective: 100px;
    transform-style: preserve-3d;
    position: relative;
    border: 1px solid black;
    border-radius: 84px;
  }
  
  .card.turned {
    pointer-events: none;
  }
  
  .card.turned .front {
    transform: rotateY(0deg);
  }
  .card.turned .back {
    transform: rotateY(180deg);
  }
  
  .card .back,
  .card .front {
    width: 20px;
    height: 40px;
    margin: 10px;
    padding: 20px;
    transition: transform 0.6s;
  }
  
  .card .back {
    background: url('images/Card\ Back\ .svg');
  }
  
  .card .front {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(-180deg) translateZ(1px);
    backface-visibility: hidden;
  }
  #game-name {
    display: flex;
    justify-content: center;
  }
  #game-name h1{
    font-size: 100px; 
    color:  rgba(215, 44, 44);
    padding: 10px;
    background-color: white;
    border: 5px solid black;
    border-radius: 84px;
    width: 350px;
  }
  #display-together {
    display:flex;
    justify-content: space-evenly;
  }
  #basket {
    background-color: rgba(215, 44, 44);
    border: 5px solid black;
    border-radius: 84px;
    font-size: 40px;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 5px;
  }
  #countdown-timer {
    background-color: rgba(215, 44, 44);
    border: 5px solid black;
    border-radius: 84px;
    font-size: 40px;
    text-align: center;
    width: 200px;
    height: 200px;
    padding: 5px;
  }
  h1 {
    font-weight: bolder;
    text-align: center;
  }
  h2 {
    color: black;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
  }
  
  
  
